---
---
@charset "utf-8";

/* variables */

$header_height: 60px;
$sub_header_height: 35px;

/* imports */

@import 'global';

/* main */

body {
  background: #eef1f2;
}

a {
  color: lighten($dark_blue, 10%);
}

code {
  padding: 2px 4px;
  font-size: 85%;
  color: #a71d5d;
  background-color: #f9f2f4;
  font-family: 'Menlo', monospace;
  @include border-radius(3px);
  -webkit-font-smoothing: auto !important;
  -moz-font-smoothing: auto !important;
  -moz-osx-font-smoothing: auto !important;
  font-smoothing: auto !important;
}

pre code {
  font-size: 100%;
  padding: 0;
  background: transparent;
  color: inherit;
}

code {
  @include breakpoint('max-width', 800px) {
    word-break: break-all;
  }
}

// because our content is so wide (very long strings, huge tables), we have to use
// word-break: break-all. When we use this though, some <td> elements break after
// every single letter (the parameter tables).
table td {
  @include breakpoint('max-width', 800px) {
    min-width: 60px;
  }
}

.highlight {
  margin: 10px 0;
  border: 2px solid #eee;
  padding: 12px 20px;
  font-size: 13px;
  @include border-radius(5px);
}

.highlight pre {
  margin: 0;
}

.highlight pre,
.highlight code {
  font-family: 'Menlo', monospace;
}

/* header */

.header {
  position: fixed;
  width: 100%;
  min-width: 800px;
  background: #0a143a;
  height: $header_height;
  z-index: 30;
  top: 0;
  @include breakpoint('max-width', 800px) {
    min-width: 0;
  }
}

.header .header-group {
  padding: 11px 20px 10px;
}

.header .sidebar-toggle {
  display: none;
  background: #eaecec;
  padding: 4px;
  border-bottom: 1px solid #ccc;
  height: $sub_header_height;
  box-sizing: border-box;
  @include breakpoint('max-width', 800px) {
    display: block;
  }
}

.header .sidebar-toggle button {
  border: 0;
  padding: 6px 10px;
  background: #fff;
  color: #000;
  font-size: 12px;
  border: 1px solid #b3bbbd;
  line-height: 1;
  @include border-radius(3px);
}

.header .logo {
  float: left;
  width: 150px;
  height: auto;
}

.header h3 {
  float: left;
  color: #69a7c2;
  margin: 0;
  margin-left: 14px;
  margin-top: 12px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  @include breakpoint('max-width', 940px) {
    display: none;
  }
}

.header .menu {
  float: right;
  margin-top: 8px;
  font-size: 15px;
}

.header .mobile-menu {
  background: transparent;
}

.header .search-bar {
  float: right;
  margin-top: -3px;
}

.header .gsc-input input.gsc-input {
  background-color: #023d65 !important;
  @include breakpoint('tablet') {
    background-color: transparent !important;
  }
}

.header .menu li {
  margin-left: 20px;
}

.header .menu .signup {
  background: $green;
  padding: 5px 10px;
  border-radius: 3px;
}

.header .menu .signup:hover {
  background: lighten($green, 2%);
  color: #fff;
}

.header a {
  color: #fff;
  font-weight: 300;
}

.header a:hover {
  color: #88dbff;
  text-decoration: none;
}

/* sidebar */

.main {
  position: relative;
  margin-left: 300px;
  @include breakpoint('max-width', 800px) {
    margin-left: 0;
  }
}

.sidebar {
  position: fixed;
  top: $header_height;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #083e64;
  font-size: 13px;
  font-weight: 400;
  height: 100%;
  overflow-y: auto;
  @include breakpoint('max-width', 800px) {
    z-index: 70;
    display: none;
    top: $header_height + $sub_header_height;
  }
}

.sidebar a:hover {
  text-decoration: none;
}

.sidebar .parent-menu {
  margin-bottom: 100px;
}

.sidebar .parent-item {
  border-bottom: 1px solid #0f537e;
  overflow: hidden;
}

.sidebar .parent-link {
  display: block;
  color: #fff;
  padding: 14px 14px;
  text-transform: uppercase;
}

.sidebar .parent-link:hover,
.sidebar .parent-item.active {
  background: #002D4C;
}

.sidebar .parent-link img {
  display: inline-block;
  width: 18px;
  height: auto;
  vertical-align: top;
  margin-top: -1px;
  margin-right: 12px;
}

.sidebar .child-menu {
  display: none;
  background: #0f537e;
}

.sidebar .child-link {
  display: block;
  color: #68a1c3;
  padding: 4px 0;
  padding-left: 28px;
  font-size: 14px;
}

.sidebar .child-link:hover,
.sidebar .child-link.active {
  text-decoration: none;
  color: lighten(#68a1c3, 20%);
}

.sidebar .child-link span {
  margin-right: 5px;
  color: #316fa3;
}

/* content */

.content {
  margin: 20px;
  margin-top: $header_height + 20px;
  font-size: 14px;
  color: #414141;
  padding-bottom: 60px;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-smoothing: antialiased !important;
  @include breakpoint('max-width', 800px) {
    margin-top: $header_height + $sub_header_height + 20px;
  }
}

.content .section {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 4px #e2e6ef;
  @include border-radius(3px);
}

.content h1 {
  margin-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  color: $dark_blue;
}

.content h2 {
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
  color: #333;
}

.content h2:first-child {
  margin-top: 0;
}

.content h3 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 2.5em;
}

.content h4 {
  margin: 0;
  margin-top: 24px;
  color: #007c99;
  font-size: 16px;
  font-weight: 500;
}

.content .section img {
  max-width: 100%;
  height: auto;
}

.important {
  background: #ffffe0;
  border: 1px solid #e5e599;
  padding: 20px;
  @include border-radius(5px);
}

.important a {
  color: #a58800;
}

.important p:first-child {
  margin-top: 0;
}

.important p:last-child {
  margin-bottom: 0;
}

.content table {
  width: 100%;
}

.content table td {
  padding: 6px 8px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.content table tr:last-child td {
  border-bottom: 0;
}

.content table tr td:first-child {
  padding-left: 0;
}

.content table tr td:last-child {
  padding-right: 0;
  border-right: 0;
}

/* code tabs */

.code-tabs button {
  border: 1px solid #aaa;
  @include border-radius(3px);
  background: #f7f7f7;
  padding: 3px 6px;
  font-size: 12px;
  outline: 0;
}

.code-tabs button:hover {
  background: #fff;
}

.code-tabs .active {
  background: $dark_blue !important;
  border-color: $dark_blue;
  color: #fff;
}

/* getting started */

.getting-started .computer {
  display: block;
  width: 200px;
  height: auto;
  margin: 70px 20px 30px 60px;
  float: right;
  @include breakpoint('max-width', 940px) {
    width: 130px;
    float: none;
    margin: 0;
  }
}

.getting-started h3 {
  margin-top: 1em;
}

.getting-started ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.getting-started li {
  margin-bottom: 20px;
  padding-left: 55px;
  position: relative;
}

.getting-started ul span {
  left: 0;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  background: #063D63;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  width: 40px;
  line-height: 40px;
  text-align: center;
  @include border-radius(20px);
}

/* paging */

.paging {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  display: none;

  .prev {
    display: none;
    float: left;
  }

  .next {
    display: none;
    float: right;
  }
}
