---
---

@font-face {
	font-family: 'DB';
	src: url('../assets/webfontkit/din-bold-webfont.eot');
	src: local('☺'), url('../assets/webfontkit/din-bold-webfont.woff') format('woff'), url('../assets/webfontkit/din-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DM';
	src: url('../assets/webfontkit/din-medi-webfont.eot');
	src: local('☺'), url('../assets/webfontkit/din-medi-webfont.woff') format('woff'), url('../assets/webfontkit/din-medi-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DR';
	src: url('../assets/webfontkit/din-regu-webfont.eot');
	src: local('☺'), url('../assets/webfontkit/din-regu-webfont.woff') format('woff'), url('../assets/webfontkit/din-regu-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DSReg';
	src: url('../assets/webfontkit/dinmitte-webfont.eot');
	src: local('☺'), url('../assets/webfontkit/dinmitte-webfont.woff') format('woff'), url('../assets/webfontkit/dinmitte-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@import 'highlight';

/****/

#documentation {
	background:#f7f7f7 url(http://www.vaeplatform.com/images-o/bg-document.png) repeat-x 0 0;
	padding-top:40px;
	padding-bottom: 40px;
}

.sidebar {
	float:left;
	width:264px;
}

.sidebar h3 {
  background: url(http://www.vaeplatform.com/images-o/doc-sidebar-top.png) no-repeat 0 0;
	width:264px;
	height:53px;
	line-height:52px;
	padding-left:15px;
	font-size:1.6em;
	color:#fff;
	font-family:'DR';
	text-shadow: 1px 2px 0px rgba(0,0,0,0.3);
	filter: dropshadow(color=#333333, offx=0, offy=1);
}

.sidebar h4 {
	line-height:40px;
	padding-left:20px;
	font-size:1.4em;
	color:#3c383c;
	font-family:'DM';
	background:#edeced;
}

.sidebar .box {
	background: url(http://www.vaeplatform.com/images-o/doc-sidebar-bg.png) repeat-y 0 0;
}

.sidebar .btm {
	background: url(http://www.vaeplatform.com/images-o/doc-sidebar-btm.png) no-repeat 0 100%;
	padding:0 4px 5px 0;
}

.sidebar li {
	font-family:'DR';
	font-size:1.25em;
	border-bottom:1px solid #e4e4e4;
  background: #f8f8f8;
}

.sidebar li.child {
  display: none;
  font-size: 1.05em;
  background: #fff;
}

.sidebar li:hover, .sidebar li.active {
	background: url(http://www.vaeplatform.com/images-o/doc-sidebar-active.png) repeat-x 0 100%;
}

.sidebar li a {
	background: url(http://www.vaeplatform.com/images-o/icons/icon-doc-sidebar.png) no-repeat 18px -86px;
	padding-left:42px;
	padding-top: 1px;
	line-height: 36px;
	color:#817d88;
	text-decoration:none;
	display:block;
}

.sidebar li a:hover, .sidebar li.active a {
	color:#fff;
	text-decoration:none;
	background-position: 18px -128px ;
}

.sidebar li a span {
	display:block;
	padding-right:42px;
}

.sidebar li.plus a span {
	background: url(http://www.vaeplatform.com/images-o/icons/icon-doc-sidebar.png) no-repeat 95% 11px;
}

.sidebar .content-text {
  padding: 15px;
}

.sidebar {
  margin-bottom: 25px;
}

.sidebar li a {
  line-height: 18px;
  overflow: hidden;
  padding: 9px 0px 9px 42px;
  font-family:'DSReg';
}

.sidebar li.up {
  background: #666 !important;
  border-bottom: 3px solid #e0c300;
  color: #fff !important;
}
.sidebar li.up a {
  color: #fff;
}

.content-text {
  font-family:'DSReg';
  font-size:1.2em;
  line-height:1.2em;
}

#documentation {
  padding-bottom: 0px;
}

#doc-content {
	float:right;
	width:640px;
  padding-bottom: 0px;
}

#doc-content h2 {
	background: url(http://www.vaeplatform.com/images-o/icons/icon-guide.png) no-repeat 0 50%;
	line-height:48px;
	padding-left:34px;
	color:#000;
	font-family:'DM';
	font-size:1.8em;
	margin-bottom:20px;
	text-shadow:0 1px 0 #fff;
}

#doc-content h2 strong {
	font-family:'DB';
	font-size:1.1em;
}

#main {
  margin: 0px;
  padding: 0px;
}

.clear {
  clear: both;
}

.clearright {
  clear: right;
}

.clearer {
  clear: both;
}

.code {
  font-family: Monaco, "Lucida Console", "Courier New", Courier, monospace;
}

.hide {
  display: none;
}

.pagenav {
  display: none;
  background: #eee;
  font-size: 0.9em;
  padding: 8px;
}
.pagenav a {
  display: none;
  font-weight: bold;
  text-decoration: none;
}
.pagenav .prev {
  float: left;
}
.pagenav .next {
  float: right;
}

/* Stylize the actual text */

#doc-content h1 {
  background:url("http://vaeplatform.com/images-o/icons/icon-guide.png") no-repeat scroll 0 50% transparent;
  color:#000000;
  font-family:'DM';
  font-size:1.6em;
  line-height:48px;
  margin-bottom:30px;
  padding-left:34px;
  text-align: left;
  text-shadow:0 1px 0 #FFFFFF;
}

#doc-content h1.title {
  text-align: center;
}

#doc-content h2 {
  font-size: 1.6em;
  margin: 0px 0px 1.25em;
}

h1, h2, h3, h4, h5, h6, p, pre {
  clear: right;
}

#doc-content code {
  font-family: Monaco, "Lucida Console", "Courier New", Courier, monospace;
}

#doc-content p {
  margin: 0 0 15px 0;
  line-height: 1.35em;
}

h1 code, p code, p code a, .literal, .literal a {
  color: #ee4432;
}

#doc-content a {
	color: #151515;
	text-decoration: none;
	border-bottom:1px solid #e0c300 ;
}

#doc-content li {
  margin-left: 40px;
  margin-bottom: 0px;
  list-style-type: square;
}
#doc-content table {
  border-spacing: 0;
  margin: 0px 40px 15px 40px;
  width: 590px;
}

#doc-content table td {
  padding: 5px;
}

#doc-content table th {
  background: #ee4432;
  color: #fff;
  text-align: left;
  padding: 5px;
}

#doc-content blockquote {
  background: #eee;
  border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
  clear: right;
  font-size: 0.9em;
  font-style: italic;
  margin: 1px auto 15px auto;
  padding: 15px 20px 15px 20px;
  width: 450px;
}

pre {
  font-family: Monaco, "Lucida Console", "Courier New", Courier, monospace;
  background: #555;
  clear: right;
  color: #fff;
  font-family: Monaco, "Lucida Console", "Courier New", Courier, monospace;
  max-height: 200px;
  margin-bottom: 15px;
  overflow: auto;
  padding: 8px;
  text-shadow: none;
}

.screenshot {
  background: #fff;
  clear: right;
  float: right;
  margin: 0px 0px 15px 10px;
  padding: 10px;
  max-width: 2000px !important;
  max-height: 2000px !important;
  border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
  text-align: center;
}

.screenshot img {
  border: 0px;
  max-width: 200px;
  max-height: 300px;
}

.screenshot2 {
  border: 0px;
  max-width: 600px;
  max-height: 600px;
  clear: right;
  margin: 15px auto;
  padding: 5px;
}

#doc-content h2, #doc-content h3, #doc-content h4 {
  clear: right;
  background: none;
  font-size: 1.25em;
  margin: 1.25em 0;
  line-height: 48px;
  padding: 0;
}

#doc-content h3 {
  font-size: 1.15em;
}

.stripe {
  background: #f0f0f0;
}

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */

#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}

#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}

#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev {
	left: 0;
	float: left;
}
#lightbox-nav-btnNext {
	right: 0;
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px;
	color: #666;
}
#lightbox-container-image-data #lightbox-image-details {
	width: 70%;
	float: left;
	text-align: left;
}
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block;
	clear: left;
	padding-bottom: 1.0em;
}
#lightbox-secNav-btnClose {
	width: 66px;
	float: right;
	padding-bottom: 0.7em;
}
