---
sections:
- title: About Vae
  slug: ''
  child_items:
  - title: "No Assumptions, No Hacking"
    slug: no_hacking
  - title: Separation of Content and Layout
    slug: separation_of_content_and_layout
  - title: Web Professionals Required
    slug: web_professionals_required
  - title: A Sampling of Vae Sites
    slug: real_vae_sites
- title: Designer Portal
  slug: designer_portal
- title: Content Management
  slug: content_management
  child_items:
  - title: Getting Started with Structures
    slug: getting_started_with_structures
  - title: Structures
    slug: structures
  - title: Simple Structures
    slug: simple_structures
  - title: Superstructures
    slug: superstructures
  - title: Hybrid Structures
    slug: hybrid_structures
  - title: Validations
    slug: validations
- title: Structure Type Reference
  slug: structure.collection
  child_items:
  - title: Collection
    slug: structure.collection
  - title: Section
    slug: structure.section
  - title: External
    slug: structure.external
  - title: Text
    slug: structure.text
  - title: Text Area
    slug: structure.textarea
  - title: Rich Text Area
    slug: structure.richtext
  - title: Checkbox
    slug: structure.checkbox
  - title: Color
    slug: structure.color
  - title: Date
    slug: structure.date
  - title: File
    slug: structure.file
  - title: Image
    slug: structure.image
  - title: Password
    slug: structure.password
  - title: Video
    slug: structure.video
  - title: Association (single)
    slug: structure.association_single
  - title: Association (multi)
    slug: structure.association_multi
  - title: Tags
    slug: structure.tags
- title: Hosting Platform Deluxe
  slug: accessing_your_webspace
  child_items:
  - title: Accessing Your Webspace
    slug: accessing_your_webspace
  - title: PHP and MySQL
    slug: php_mysql
  - title: Haml and Sass
    slug: haml_sass
  - title: Generating PDFs
    slug: pdf
  - title: Summary -- Processing by Extension
    slug: processing_by_extension
  - title: Global PHP Includes
    slug: global_php_includes
  - title: Custom Error Pages
    slug: custom_error_pages
  - title: Permalinks
    slug: permalinks
  - title: "SEO: Search Engine Optimization"
    slug: seo
  - title: Caching
    slug: caching
  - title: Vae Local Development Environment
    slug: vae_local
- title: VaeML
  slug: getting_started_guide
  child_items:
  - title: Validating Forms
    slug: vaeml_form_validation
  - title: "&lt;v&gt; shortcuts"
    slug: v_shortcuts
  - title: "&lt;v:form&gt;"
    slug: v_form
  - title: "&lt;v:checkbox&gt;"
    slug: v_checkbox
  - title: "&lt;v:country_select&gt;"
    slug: v_country_select
  - title: "&lt;v:date_select&gt;"
    slug: v_date_select
  - title: "&lt;v:file_field&gt;"
    slug: v_file_field
  - title: "&lt;v:hidden_field&gt;"
    slug: v_hidden_field
  - title: "&lt;v:password_field&gt;"
    slug: v_password_field
  - title: "&lt;v:radio&gt;"
    slug: v_radio
  - title: "&lt;v:select&gt;"
    slug: v_select
  - title: "&lt;v:state_select&gt;"
    slug: v_state_select
  - title: "&lt;v:text_area&gt;"
    slug: v_text_area
  - title: "&lt;v:text_field&gt;"
    slug: v_text_field
  - title: "&lt;v:a&gt;"
    slug: v_a
  - title: "&lt;v:a_if&gt;"
    slug: v_a_if
  - title: "&lt;v:asset&gt;"
    slug: v_asset
  - title: "&lt;v:captcha&gt;"
    slug: v_captcha
  - title: "&lt;v:cdn&gt;"
    slug: v_cdn
  - title: "&lt;v:collection&gt;"
    slug: v_collection
  - title: "&lt;v:create&gt;"
    slug: v_create
  - title: "&lt;v:date_selection&gt;"
    slug: v_date_selection
  - title: "&lt;v:debug&gt;"
    slug: v_debug
  - title: "&lt;v:disqus&gt;"
    slug: v_disqus
  - title: "&lt;v:divider&gt;"
    slug: v_divider
  - title: "&lt;v:else&gt;"
    slug: v_else
  - title: "&lt;v:facebook_comments&gt;"
    slug: v_facebook_comments
  - title: "&lt;v:facebook_like&gt;"
    slug: v_facebook_like
  - title: "&lt;v:file&gt;"
    slug: v_file
  - title: "&lt;v:fileurl&gt;"
    slug: v_fileurl
  - title: "&lt;v:flash&gt;"
    slug: v_flash
  - title: "&lt;v:formmail&gt;"
    slug: v_formmail
  - title: "&lt;v:fragment&gt;"
    slug: v_fragment
  - title: "&lt;v:gravatar&gt;"
    slug: v_gravatar
  - title: "&lt;v:if&gt;"
    slug: v_if
  - title: "&lt;v:if_paginate&gt;"
    slug: v_if_paginate
  - title: "&lt;v:if_time&gt;"
    slug: v_if_time
  - title: "&lt;v:img&gt;"
    slug: v_img
  - title: "&lt;v:imurl&gt;"
    slug: v_imurl
  - title: "&lt;v:nested_collection&gt;"
    slug: v_nested_collection
  - title: "&lt;v:nested_divider&gt;"
    slug: v_nested_divider
  - title: "&lt;v:newsletter&gt;"
    slug: v_newsletter
  - title: "&lt;v:nowidows&gt;"
    slug: v_nowidows
  - title: "&lt;v:option_select&gt;"
    slug: v_option_select
  - title: "&lt;v:pagination&gt;"
    slug: v_pagination
  - title: "&lt;v:pdf&gt;"
    slug: v_pdf
  - title: "&lt;v:php&gt;"
    slug: v_php
  - title: "&lt;v:repeat&gt;"
    slug: v_repeat
  - title: "&lt;v:require_ssl&gt;"
    slug: v_require_ssl
  - title: "&lt;v:rss&gt;"
    slug: v_rss
  - title: "&lt;v:section&gt;"
    slug: v_section
  - title: "&lt;v:session_dump&gt;"
    slug: v_session_dump
  - title: "&lt;v:set_default&gt;"
    slug: v_set_default
  - title: "&lt;v:site_seal&gt;"
    slug: v_site_seal
  - title: "&lt;v:store:add_to_cart&gt;"
    slug: v_store_add_to_cart
  - title: "&lt;v:store:address_delete&gt;"
    slug: v_store_address_delete
  - title: "&lt;v:store:address_select&gt;"
    slug: v_store_address_select
  - title: "&lt;v:store:addresses&gt;"
    slug: v_store_addresses
  - title: "&lt;v:store:cart&gt;"
    slug: v_store_cart
  - title: "&lt;v:store:cart:discount&gt;"
    slug: v_store_cart_discount
  - title: "&lt;v:store:cart:items&gt;"
    slug: v_store_cart_items
  - title: "&lt;v:store:cart:shipping&gt;"
    slug: v_store_cart_shipping
  - title: "&lt;v:store:cart:subtotal&gt;"
    slug: v_store_cart_subtotal
  - title: "&lt;v:store:cart:tax&gt;"
    slug: v_store_cart_tax
  - title: "&lt;v:store:cart:total&gt;"
    slug: v_store_cart_total
  - title: "&lt;v:store:checkout&gt;"
    slug: v_store_checkout
  - title: "&lt;v:store:credit_card&gt;"
    slug: v_store_credit_card
  - title: "&lt;v:store:credit_card_select&gt;"
    slug: v_store_credit_card_select
  - title: "&lt;v:store:currency&gt;"
    slug: v_store_currency
  - title: "&lt;v:store:currency_select&gt;"
    slug: v_store_currency_select
  - title: "&lt;v:store:discount&gt;"
    slug: v_store_discount
  - title: "&lt;v:store:forgot&gt;"
    slug: v_store_forgot
  - title: "&lt;v:store:google_checkout&gt;"
    slug: v_store_google_checkout
  - title: "&lt;v:store:if_bank_transfer&gt;"
    slug: v_store_if_bank_transfer
  - title: "&lt;v:store:if_check&gt;"
    slug: v_store_if_check
  - title: "&lt;v:store:if_credit_card&gt;"
    slug: v_store_if_credit_card
  - title: "&lt;v:store:if_currency&gt;"
    slug: v_store_if_currency
  - title: "&lt;v:store:if_digital_downloads&gt;"
    slug: v_store_if_digital_downloads
  - title: "&lt;v:store:if_discount&gt;"
    slug: v_store_if_discount
  - title: "&lt;v:store:if_field_overridden&gt;"
    slug: v_store_if_field_overridden
  - title: "&lt;v:store:if_logged_in&gt;"
    slug: v_store_if_logged_in
  - title: "&lt;v:store:if_money_order&gt;"
    slug: v_store_if_money_order
  - title: "&lt;v:store:if_paypal&gt;"
    slug: v_store_if_paypal
  - title: "&lt;v:store:if_paypal_express_checkout&gt;"
    slug: v_store_if_paypal_express_checkout
  - title: "&lt;v:store:if_recent_order_bank_transfer&gt;"
    slug: v_store_if_recent_order_bank_transfer
  - title: "&lt;v:store:if_recent_order_check&gt;"
    slug: v_store_if_recent_order_check
  - title: "&lt;v:store:if_recent_order_credit_card&gt;"
    slug: v_store_if_recent_order_credit_card
  - title: "&lt;v:store:if_recent_order_digital&gt;"
    slug: v_store_if_recent_order_digital
  - title: "&lt;v:store:if_recent_order_money_order&gt;"
    slug: v_store_if_recent_order_money_order
  - title: "&lt;v:store:if_recent_order_paypal&gt;"
    slug: v_store_if_recent_order_paypal
  - title: "&lt;v:store:if_recent_order_paypal_express_checkout&gt;"
    slug: v_store_if_recent_order_paypal_express_checkout
  - title: "&lt;v:store:if_shippable&gt;"
    slug: v_store_if_shippable
  - title: "&lt;v:store:if_tax&gt;"
    slug: v_store_if_tax
  - title: "&lt;v:store:item:if_discount&gt;"
    slug: v_store_item_if_discount
  - title: "&lt;v:store:item:price&gt;"
    slug: v_store_item_price
  - title: "&lt;v:store:login&gt;"
    slug: v_store_login
  - title: "&lt;v:store:logout&gt;"
    slug: v_store_logout
  - title: "&lt;v:store:payment_methods_select&gt;"
    slug: v_store_payment_methods_select
  - title: "&lt;v:store:paypal_checkout&gt;"
    slug: v_store_paypal_checkout
  - title: "&lt;v:store:paypal_express_checkout&gt;"
    slug: v_store_paypal_express_checkout
  - title: "&lt;v:store:previous_order&gt;"
    slug: v_store_previous_order
  - title: "&lt;v:store:previous_orders&gt;"
    slug: v_store_previous_orders
  - title: "&lt;v:store:recent_order&gt;"
    slug: v_store_recent_order
  - title: "&lt;v:store:recent_order_items&gt;"
    slug: v_store_recent_order_items
  - title: "&lt;v:store:register&gt;"
    slug: v_store_register
  - title: "&lt;v:store:shipping_method&gt;"
    slug: v_store_shipping_method
  - title: "&lt;v:store:shipping_methods_select&gt;"
    slug: v_store_shipping_methods_select
  - title: "&lt;v:store:user&gt;"
    slug: v_store_user
  - title: "&lt;v:text&gt;"
    slug: v_text
  - title: "&lt;v:template&gt;"
    slug: v_template
  - title: "&lt;v:update&gt;"
    slug: v_update
  - title: "&lt;v:users:forgot&gt;"
    slug: v_users_forgot
  - title: "&lt;v:users:if_logged_in&gt;"
    slug: v_users_if_logged_in
  - title: "&lt;v:users:login&gt;"
    slug: v_users_login
  - title: "&lt;v:users:logout&gt;"
    slug: v_users_logout
  - title: "&lt;v:users:register&gt;"
    slug: v_users_register
  - title: "&lt;v:video&gt;"
    slug: v_video
  - title: "&lt;v:yield&gt;"
    slug: v_yield
  - title: "&lt;v:zip&gt;"
    slug: v_zip
- title: VaeQL
  slug: vaeql.introduction
- title: PHP API
  slug: php
  child_items:
  - title: vae()
    slug: php_vae
  - title: vae_asset()
    slug: php_vae_asset
  - title: vae_cache()
    slug: php_vae_cache
  - title: vae_cdn_url()
    slug: php_vae_cdn_url
  - title: vae_create()
    slug: php_vae_create
  - title: vae_customer()
    slug: php_vae_customer
  - title: vae_data_path()
    slug: php_vae_data_path
  - title: vae_data_url()
    slug: php_vae_data_url
  - title: vae_destroy()
    slug: php_vae_destroy
  - title: vae_disable_vaeml()
    slug: php_vae_disable_vaeml
  - title: vae_errors()
    slug: php_vae_errors
  - title: vae_file()
    slug: php_vae_file
  - title: vae_flash()
    slug: php_vae_flash
  - title: vae_image() and vae_sizedimage()
    slug: php_vae_image
  - title: vae_image_grey()
    slug: php_vae_image_grey
  - title: vae_image_reflect()
    slug: php_vae_image_reflect
  - title: vae_imagesize()
    slug: php_vae_imagesize
  - title: vae_loggedin()
    slug: php_vae_loggedin
  - title: vae_multipart_mail()
    slug: php_vae_multipart_mail
  - title: vae_permalink()
    slug: php_vae_permalink
  - title: vae_redirect()
    slug: php_vae_redirect
  - title: vae_register_hook()
    slug: php_vae_register_hook
  - title: vae_register_tag()
    slug: php_vae_register_tag
  - title: vae_render_tags()
    slug: php_vae_render_tags
  - title: vae_richtext()
    slug: php_vae_richtext
  - title: vae_store_add_item_to_cart()
    slug: php_vae_store_add_item_to_cart
  - title: vae_store_add_shipping_method()
    slug: php_vae_store_add_shipping_method
  - title: vae_store_cart_item()
    slug: php_vae_store_cart_item
  - title: vae_store_cart_items()
    slug: php_vae_store_cart_items
  - title: vae_store_checkout()
    slug: php_vae_store_checkout
  - title: vae_store_clear_discount_code()
    slug: php_vae_store_clear_discount_code
  - title: vae_store_create_coupon_code()
    slug: php_vae_store_create_coupon_code
  - title: vae_store_create_tax_rate()
    slug: php_vae_store_create_tax_rate
  - title: vae_store_current_user()
    slug: php_vae_store_current_user
  - title: vae_store_destroy_all_tax_rates()
    slug: php_vae_store_destroy_all_tax_rates
  - title: vae_store_destroy_coupon_code()
    slug: php_vae_store_destroy_coupon_code
  - title: vae_store_destroy_tax_rate()
    slug: php_vae_store_destroy_tax_rate
  - title: vae_store_discount_code()
    slug: php_vae_store_discount_code
  - title: vae_store_find_coupon_code()
    slug: php_vae_store_find_coupon_code
  - title: vae_store_loggedin()
    slug: php_vae_store_loggedin
  - title: vae_store_orders()
    slug: php_vae_store_orders
  - title: vae_store_recent_order()
    slug: php_vae_store_recent_order
  - title: vae_store_register()
    slug: php_vae_store_register
  - title: vae_store_remove_from_cart()
    slug: php_vae_store_remove_from_cart
  - title: vae_store_total_weight()
    slug: php_vae_store_total_weight
  - title: vae_store_update_cart_item()
    slug: php_vae_store_update_cart_item
  - title: vae_store_update_coupon_code()
    slug: php_vae_store_update_coupon_code
  - title: vae_store_update_order_status()
    slug: php_vae_store_update_order_status
  - title: vae_store_update_tax_rate()
    slug: php_vae_store_update_tax_rate
  - title: vae_style()
    slug: php_vae_style
  - title: vae_text()
    slug: php_vae_text
  - title: vae_tick()
    slug: php_vae_tick
  - title: vae_update()
    slug: php_vae_update
  - title: vae_video()
    slug: php_vae_video
  - title: vae_watermark()
    slug: php_vae_watermark
- title: eCommerce
  slug: creating_ecommerce_structures
  child_items:
  - title: Creating the Structures for a Typical Store
    slug: creating_ecommerce_structures
  - title: The Shopping Flow in VaeML
    slug: shopping_flow
  - title: Customizing Order Confirmation E-Mails
    slug: customizing_order_emails
  - title: Viewing Orders
    slug: ecommerce.viewing_orders
  - title: "Accepting Real Money: Integrating an Internet Merchant Account"
    slug: ecommerce.merchant_account
  - title: Real-Time Shipping Calculations
    slug: ecommerce.real_time_shipping
  - title: Integrating With a Third-Party for Order Fulfillment
    slug: ecommerce.integrating_third_party_order_fulfillment
  - title: Collecting Sales Tax
    slug: ecommerce.collecting_sales_tax
  - title: Store General Settings
    slug: ecommerce.store_general_settings
  - title: Analytics
    slug: ecommerce.analytics
- title: Tutorials and Examples
  slug: example_site
  child_items:
  - title: "Full Site Tutorial: Vae Records"
    slug: example_site
  - title: "Full Site Tutorial: Erin Smith Photography"
    slug: example_portfolio
  - title: Resizing Images
    slug: resizing_images
  - title: Paginating A Collection
    slug: paginating_a_collection
  - title: A Contact Form
    slug: contact_us_form
  - title: Using XML to Send Data to Flash App
    slug: xml_to_flash
  - title: Using AJAX
    slug: using_ajax
  - title: Making An AJAX Photo Gallery
    slug: ajax_photo_library
- title: Backstage
  slug: backstage.content
  child_items:
  - title: Content Tab
    slug: backstage.content
  - title: Store Tab
    slug: backstage.store
  - title: Customers Tab
    slug: backstage.customers
  - title: Newsletter Tab
    slug: backstage.newsletter
  - title: Site Tab
    slug: backstage.site
  - title: Users Tab
    slug: backstage.users
  - title: Usage / Billing Tab
    slug: backstage.usage
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>{{ page.title }} &middot; Vae&trade; Platform Documentation</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="https://docs.vaeplatform.com{{ page.url }}">
    <link href='http://vaeplatform.com/favicon.ico' rel='shortcut icon' type=' image/x-icon' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.lightbox-0.5.min.js"></script>
    <script type="text/javascript" src="/js/vae_book.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="http://vaeplatform.com/stylesheets/reset-min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="http://vaeplatform.com/stylesheets/global.css" />
    <link rel="stylesheet" href="{{ '/css/vaebook.css' }}" type="text/css">
  </head>
  <body class='inner'>
    <div id='header'>
      <a class='vae-logo-top' href='http://vaeplatform.com/'>
        <img alt='Vae&trade;' src='http://vaeplatform.com/images-o/logo-top.png' title='Vae&trade;' />
      </a>
      <div id='phone-top'>
        <p>1-800-ATN-VERB</p>
        <small>Mon-Fri 9AM-9PM EST</small>
      </div>
      <div id='nav-top'>
        <div id='menu-main'>
          <ul>
            <li>
              <a href='http://vaeplatform.com/'>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href='http://vaeplatform.com/content-management-system'>
                <span>Tour</span>
              </a>
            </li>
            <li class='active'>
              <a href='/'>
                <span>Documentation</span>
              </a>
            </li>
            <li>
              <a href='http://vaeplatform.com/blog'>
                <span>Blog</span>
              </a>
            </li>
          </ul>
        </div>
        <div id='menu-secondary'>
          <ul>
            <li>
              <a href='http://vaeplatform.com/cms-testimonials'>Testimonials</a>
            </li>
            <li>
              <a href='http://vaeplatform.com/pricing'>Pricing</a>
            </li>
            <li class="bt-free-signup">
              <a href='http://vaeplatform.com/start'>Join Now</a>
            </li>
          </ul>
        </div>
        <span class='clearfix'></span>
      </div>
      <div id='inner-heading'>
        <h1>Documentation and Integration Center</h1>
      </div>
    </div>
    <div id='documentation'>
      <div id='content'>
        <div class="sidebar">
          <div class="box">
            <div class="btm">
              <h3>Vae Guide</h3>
              <ul>
                {% for section in page.sections %}
                  <li class="parent">
                    <a href="/{{ section.slug }}{% if section.slug != '' %}/{% endif %}">
                      {{ section.title }}
                    </a>
                  </li>
                  {% if section.child_items %}
                    {% for child in section.child_items %}
                    <li class="child"><a href="/{{ child.slug }}{% if child.slug != '' %}/{% endif %}">{{ child.title }}</a></li>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div id="doc-content">
          <div class="content-text">
            {{ content }}
          </div>
          <div class="clearer"></div>
          <div class="pagenav">
            <a class="prev">&laquo; Previous: <span></span></a>
            <a class="next">Next: <span></span> &raquo;</a>
            <div class="clearer"></div>
          </div>
        </div>
        <div class="clearer"></div>
      </div>
    </div>
    <div id='footer-wrap'>
      <div id='footer'>
        <div id='footer-left'>
          <div id='footer-links'>
            <div>
              <h4>Vae</h4>
              <ul>
                <li>
                  <a href='http://vaeplatform.com/pricing'>Pricing</a>
                </li>
                <li>
                  <a href='http://vaeplatform.com/cms-testimonials'>Testimonials</a>
                </li>
                <li>
                  <a href='http://vaeplatform.com/blog'>Blog</a>
                </li>
                <li>
                  <a href='http://vaeplatform.com/start'>Join Now</a>
                </li>
              </ul>
            </div>
            <div class='big'>
              <h4>Tour</h4>
              <ul>
                <li>
                  <a href='http://vaeplatform.com/content-management-system'>CMS</a>
                </li>
                <li>
                  <a href='http://vaeplatform.com/ecommerce-cms'>eCommerce</a>
                </li>
                <li>
                  <a href='http://vaeplatform.com/email-marketing-cms'>E-Mail Marketing</a>
                </li>
                <li>
                  <a href='http://vaeplatform.com/hosting-platform-deluxe'>Deluxe Hosting Platform</a>
                </li>
              </ul>
            </div>
            <div class='big'>
              <h4>Developers</h4>
              <ul>
                <li>
                  <a href='/'>Documentation</a>
                </li>
                <li>
                  <a href='/vaeml/'>VaeML Reference</a>
                </li>
                <li>
                  <a href='/vaeql/'>VaeQL Reference</a>
                </li>
              </ul>
            </div>
          </div>
          <div class='divider'></div>
          <ul id='footer-socials'>
            <li class='rss-link'>
              <a href='http://vaeplatform.com/rss' target='_blank'>RSS</a>
            </li>
            <li class='twitter-link'>
              <a href='http://twitter.com/VaePlatform' target='_blank'>Twitter</a>
            </li>
            <li class='fb-link'>
              <a href='http://www.facebook.com/pages/Vae-Platform/82620167908' target='_blank'>Facebook</a>
            </li>
          </ul>
          <div id='copyright'>Copyright &copy; 2007-2016 Action Verb, LLC. All rights reserved</div>
        </div>
        <div id='footerbox-right'>
          <a class='loginbutton' href='http://vaeplatform.com/login'>Login</a>
          <ul>
            <li class='link-documentation'>
              <a href='http://docs.vaeplatform.com/'>Documentation</a>
            </li>
            <li class='link-toc'>
              <a href='http://vaeplatform.com/terms-of-service'>Terms of Service</a>
            </li>
          </ul>
          <ul>
            <li class='link-privacy'>
              <a href='http://vaeplatform.com/privacy-policy'>Privacy Policy</a>
            </li>
            <li class='link-contact'>
              <a href='http://vaeplatform.com/contact'>Contact Us</a>
            </li>
          </ul>
          <div class='divider'></div>
          <div id='av-logo'>
            <a href='http://actionverb.com/'>Action Verb</a>
          </div>
          <div id='footer-closure'>
            <small class='center'>
              Vae&trade; is a service of Action Verb, LLC,
            </small>
          </div>
        </div>
        <div class='clearfix'></div>
      </div>
    </div>
    <script type='text/javascript'>
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type='text/javascript'>
      try {
      var pageTracker = _gat._getTracker("UA-8605785-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
