---
sections:
- title: Getting Started
  icon: home
  slug: ''
  child_items:
  - title: "No Assumptions, No Hacking"
    slug: no_hacking
  - title: Separation of Content and Layout
    slug: separation_of_content_and_layout
  - title: Web Professionals Required
    slug: web_professionals_required
  - title: A Sampling of Vae Sites
    slug: real_vae_sites
- title: Content Management
  slug: content_management
  child_items:
  - title: Getting Started with Structures
    slug: getting_started_with_structures
  - title: Structures
    slug: structures
  - title: Simple Structures
    slug: simple_structures
  - title: Superstructures
    slug: superstructures
  - title: Hybrid Structures
    slug: hybrid_structures
  - title: Validations
    slug: validations
- title: Structure Type Reference
  slug: structures
  child_items:
  - title: Collection
    slug: structure.collection
  - title: Section
    slug: structure.section
  - title: External
    slug: structure.external
  - title: Text
    slug: structure.text
  - title: Text Area
    slug: structure.textarea
  - title: Rich Text Area
    slug: structure.richtext
  - title: Checkbox
    slug: structure.checkbox
  - title: Color
    slug: structure.color
  - title: Date
    slug: structure.date
  - title: File
    slug: structure.file
  - title: Image
    slug: structure.image
  - title: Password
    slug: structure.password
  - title: Video
    slug: structure.video
  - title: Association (single)
    slug: structure.association_single
  - title: Association (multi)
    slug: structure.association_multi
  - title: Tags
    slug: structure.tags
- title: Hosting Platform Deluxe
  slug: hosting
  child_items:
  - title: Accessing Your Webspace
    slug: accessing_your_webspace
  - title: PHP and MySQL
    slug: php_mysql
  - title: Haml and Sass
    slug: haml_sass
  - title: Generating PDFs
    slug: pdf
  - title: Summary -- Processing by Extension
    slug: processing_by_extension
  - title: Global PHP Includes
    slug: global_php_includes
  - title: Custom Error Pages
    slug: custom_error_pages
  - title: Permalinks
    slug: permalinks
  - title: "SEO: Search Engine Optimization"
    slug: seo
  - title: Caching
    slug: caching
  - title: Vae Local Development Environment
    slug: vae_local
- title: eCommerce
  slug: ecommerce
  child_items:
  - title: Creating the Structures for a Typical Store
    slug: creating_ecommerce_structures
  - title: The Shopping Flow in VaeML
    slug: shopping_flow
  - title: Customizing Order Confirmation E-Mails
    slug: customizing_order_emails
  - title: Viewing Orders
    slug: ecommerce.viewing_orders
  - title: "Accepting Real Money: Integrating an Internet Merchant Account"
    slug: ecommerce.merchant_account
  - title: Real-Time Shipping Calculations
    slug: ecommerce.real_time_shipping
  - title: Integrating With a Third-Party for Order Fulfillment
    slug: ecommerce.integrating_third_party_order_fulfillment
  - title: Collecting Sales Tax
    slug: ecommerce.collecting_sales_tax
  - title: Store General Settings
    slug: ecommerce.store_general_settings
  - title: Analytics
    slug: ecommerce.analytics
- title: Tutorials and Examples
  slug: example
  child_items:
  - title: "Full Site Tutorial: Vae Records"
    slug: example_site
  - title: "Full Site Tutorial: Erin Smith Photography"
    slug: example_portfolio
  - title: Cookbook
    slug: cookbook
- title: Backstage
  slug: backstage
  child_items:
  - title: Content Tab
    slug: backstage.content
  - title: Store Tab
    slug: backstage.store
  - title: Customers Tab
    slug: backstage.customers
  - title: Newsletter Tab
    slug: backstage.newsletter
  - title: Site Tab
    slug: backstage.site
  - title: Users Tab
    slug: backstage.users
  - title: Usage / Billing Tab
    slug: backstage.usage
- title: Designer Portal
  slug: designer_portal
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>{{ page.title }} &middot; Vae&trade; Platform Documentation</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=<?=$manual['head'][0]?>" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="https://docs.vaeplatform.com{{ page.url }}">
    <link href='http://vaeplatform.com/favicon.ico' rel='shortcut icon' type=' image/x-icon' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.lightbox-0.5.min.js"></script>
    <script type="text/javascript" src="/js/vae_book.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="http://vaeplatform.com/stylesheets/reset-min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="http://vaeplatform.com/stylesheets/global.css" />
    <link rel="stylesheet" href="{{ '/css/vaebook.css' }}" type="text/css">
  </head>
  <body class='inner'>
    <div id='header'>
      <a class='vae-logo-top' href='http://vaeplatform.com/'>
        <img alt='Vae&trade;' src='http://vaeplatform.com/images-o/logo-top.png' title='Vae&trade;' />
      </a>
      <div id='phone-top'>
        <p>1-800-ATN-VERB</p>
        <small>Mon-Fri 9AM-9PM EST</small>
      </div>
      <div id='nav-top'>
        <div id='menu-main'>
          <ul>
            <li>
              <a href='http://vaeplatform.com/'>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href='http://vaeplatform.com/content-management-system'>
                <span>Tour</span>
              </a>
            </li>
            <li class='active'>
              <a href='/'>
                <span>Documentation</span>
              </a>
            </li>
            <li>
              <a href='http://vaeplatform.com/blog'>
                <span>Blog</span>
              </a>
            </li>
          </ul>
        </div>
        <div id='menu-secondary'>
          <ul>
            <li>
              <a href='http://vaeplatform.com/cms-testimonials'>Testimonials</a>
            </li>
            <li>
              <a href='http://vaeplatform.com/pricing'>Pricing</a>
            </li>
            <li class="bt-free-signup">
              <a href='http://vaeplatform.com/start'>Join Now</a>
            </li>
          </ul>
        </div>
        <span class='clearfix'></span>
      </div>
      <div id='inner-heading'>
        <h1>Documentation and Integration Center</h1>
      </div>
    </div>
    <div id='documentation'>
      <div id='content'>
        <div class="sidebar">
          <div class="box">
            <div class="btm">
              <h3>Vae Guide</h3>
              <ul class="parent-menu collapse">
                {% for section in page.sections %}
                {% capture parent_slug %}/{{ section.slug }}{% if section.slug != '' %}/{% endif %}{% endcapture %}
                <li class="parent-item collapse {% if page.url == '/' and section.slug == '' %}active{% else %}{% if section.slug != '' and page.url contains parent_slug %}active{% endif %}{% endif %}">
                  {% if section.slug != 'support' %}
                  <a class="parent-link" href="/{{ section.slug }}{% if section.slug != '' %}/{% endif %}">
                  {% else %}
                  <a class="parent-link" href="/contact/">
                  {% endif %}
                  {{ section.title }}</a>
                  {% if section.child_items %}
                  <ul class="child-menu collapse" style="{% if section.slug != '' and page.url contains parent_slug %}display: block;{% endif %}">
                    {% for child in section.child_items %}
                    {% capture child_slug %}/{{ child.slug }}{% if child.slug != '' %}/{% endif %}{% endcapture %}
                    <li class="child-item"><a class="child-link {% if page.url == child_slug %}active{% endif %}" href="/{{ child.slug }}{% if child.slug != '' %}/{% endif %}"><span>&#10095;</span> {{ child.title }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
              <h4>Quick Reference</h4>
              <ul>
                <li><a href="vaeml">VaeML</a></li>
                <li><a href="vaeql">VaeQL</a></li>
                <li><a href="php">PHP Integration</a></li>
                <li><a href="hosting">Hosting Environment</a></li>
                <li><a href="structures">Structures</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="doc-content">
          <div class="content-text">
            {{ content }}
          </div>
          <div class="clearer"></div>
          <div class="pagenav">
            <a class="prev">&laquo; Previous: <span></span></a>
            <a class="next">Next: <span></span> &raquo;</a>
            <div class="clearright"></div>
          </div>
        </div>
        <div class="clearer"></div>
      </div>
    </div>
    <div id='footer-wrap'>
      <div id='footer'>
        <div id='footer-left'>
          <div id='footer-links'>
            <div>
              <h4>Vae</h4>
              <ul>
                <li>
                  <a href='http://vaeplatform.com/pricing'>Pricing</a>
                </li>
                <li>
                  <a href='http://vaeplatform.com/cms-testimonials'>Testimonials</a>
                </li>
                <li>
                  <a href='http://vaeplatform.com/blog'>Blog</a>
                </li>
                <li>
                  <a href='http://vaeplatform.com/start'>Join Now</a>
                </li>
              </ul>
            </div>
            <div class='big'>
              <h4>Tour</h4>
              <ul>
                <li>
                  <a href='http://vaeplatform.com/content-management-system'>CMS</a>
                </li>
                <li>
                  <a href='http://vaeplatform.com/ecommerce-cms'>eCommerce</a>
                </li>
                <li>
                  <a href='http://vaeplatform.com/email-marketing-cms'>E-Mail Marketing</a>
                </li>
                <li>
                  <a href='http://vaeplatform.com/hosting-platform-deluxe'>Deluxe Hosting Platform</a>
                </li>
              </ul>
            </div>
            <div class='big'>
              <h4>Developers</h4>
              <ul>
                <li>
                  <a href='/'>Documentation</a>
                </li>
                <li>
                  <a href='/vaeml/'>VaeML Reference</a>
                </li>
                <li>
                  <a href='/vaeql/'>VaeQL Reference</a>
                </li>
              </ul>
            </div>
          </div>
          <div class='divider'></div>
          <ul id='footer-socials'>
            <li class='rss-link'>
              <a href='http://vaeplatform.com/rss' target='_blank'>RSS</a>
            </li>
            <li class='twitter-link'>
              <a href='http://twitter.com/VaePlatform' target='_blank'>Twitter</a>
            </li>
            <li class='fb-link'>
              <a href='http://www.facebook.com/pages/Vae-Platform/82620167908' target='_blank'>Facebook</a>
            </li>
          </ul>
          <div id='copyright'>Copyright &copy; 2007-2016 Action Verb, LLC. All rights reserved</div>
        </div>
        <div id='footerbox-right'>
          <a class='loginbutton' href='http://vaeplatform.com/login'>Login</a>
          <ul>
            <li class='link-documentation'>
              <a href='http://docs.vaeplatform.com/'>Documentation</a>
            </li>
            <li class='link-toc'>
              <a href='http://vaeplatform.com/terms-of-service'>Terms of Service</a>
            </li>
          </ul>
          <ul>
            <li class='link-privacy'>
              <a href='http://vaeplatform.com/privacy-policy'>Privacy Policy</a>
            </li>
            <li class='link-contact'>
              <a href='http://vaeplatform.com/contact'>Contact Us</a>
            </li>
          </ul>
          <div class='divider'></div>
          <div id='av-logo'>
            <a href='http://actionverb.com/'>Action Verb</a>
          </div>
          <div id='footer-closure'>
            <small class='center'>
              Vae&trade; is a service of Action Verb, LLC,
            </small>
          </div>
        </div>
        <div class='clearfix'></div>
      </div>
    </div>
    <script type='text/javascript'>
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type='text/javascript'>
      try {
      var pageTracker = _gat._getTracker("UA-8605785-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
